{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'BS5/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'BS-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
    <title>{% block title %} {% endblock %} | FreeCreativ</title>
</head>
<body>
{% include "navbar.html" %}
{% block content %}

{% endblock %}
<script src="{% static 'script/jquery.min.js' %}"></script>
<script src="{% static 'fontawesome/js/all.js' %}"></script>
<script src="{% static 'BS5/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'script/script.min.js' %}"></script>
</body>
</html>